.card_set {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    
   
}

.title_set{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search{
    width: 28rem;
}

.buttonSearch{
    float: right;
}